supabase-key
supabase_script.py
awsfreekey.pem
awsfreekey_backup.pem
backend/.env
backend/team-data2019/
backend/team-data2020/
backend/team-data2021/
backend/team-data2022/
backend/team-data2023/
backend/team-data2024/
backend/nfl_eps/
backend/nfl_decision_data/
backend/nfl_cdf_data/
.DS_Store
frontend/.DS_Store
team_data/.DS_Store